

body {
    overflow: hidden;
    background-color: #000;
}

.slider {
    height: 600px;
    position: relative;
    left:0px;
}

.slide {
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
}

.col-md-12,.row {
  height:100%;
}
.row > div {
  height:100%;
}

/************************
button******************/

.button-c {
    right:0px;
}

